[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Certara.R"]
	path = Certara.R
	url = https://github.com/certara/r-certara
[submodule "tidyvpc"]
	path = tidyvpc
	url = https://github.com/certara/tidyvpc
[submodule "vachette"]
	path = vachette
	url = https://github.com/certara/vachette
